<style>
/* force scrollbar */
html { overflow-y: scroll; }
    
/* To overwrite page's padding, to get bigger images */
/* article {padding:2%;} */
</style>

<div id='masonry' class="grid">
<div class="grid-sizer"></div>
<div class="gutter-sizer"></div>
{% for imageurl in site.data[include.gallery_data].urls %}
    <img src="{{ imageurl }}" alt="" class="grid-item" style="padding: 0;">
{% endfor %}
</div> 

<!-- Require JQuery >= 3.2.1 Requireas well -->
<script src="{{ site.baseurl }}/assets/js/vendor/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/imagesloaded.min.js" type="text/javascript"></script>
