---
layout: default
---

<div class="home">
  
  <div id="main"   class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_feature_image }}')">
  
  </div>
  <div class="posts">
    <div class="post-teaser">
      <div class="excerpt">
        It begins with a dream....a dream to fly. I think it's every young kids dream to fly. From a makeshift ramp in
        the driveway to running down a big hill with cardboard wings. Many of us want that magical feeling of flying.
        This site is my journey to doing just that.
      </div>
    </div>
  <div>    
    
</div>
