---
layout: default
---

<div class="home">
  
  <div id="main"   class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_feature_image }}'); padding: 23% 20%;">
  
  </div>
  <div class="posts">
    It begins with a dream....a dream to fly. I think it's every young kids dream to one day fly. From making a makeshift ramp in the driveway or running down a big hill with wings. Many of us want that magical feeling of flying free. This site is my journey to doing just that.
  <div>    
    
</div>
